.logo_header {
  width: 9rem;
  padding-top: 2rem;
}

.logo_footer {
  width: 4rem;
}

#emailbtn {
  padding-top: 1rem;
}

#destibtn {
  position: absolute;
  top: 420px;
  font-size: 14px;
}

#tripsLocIcone {
  color: aliceblue;
  margin-right: 0.5rem;
}

#DestailNav {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
